<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=.;Initial Catalog=YourDatabaseName;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<configuration>
  <configSections>
    <section name="customSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <customSettings>
    <add key="febtomid283" value="febtomid283" />
    <add key="febtomid28113" value="febtomid28113" />
  </customSettings>
</configuration>

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=.;Initial Catalog=MyDatabase;User ID=febtomid283sql;Password=febtomid283P@ssw0rd123" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ApiKey" value="febto-mid283-67890-fghij" />
    <add key="febtomid283EmailPassword" value="febtomid283EmailP@ssw0rd!" />
  </appSettings>
</configuration>

<configuration>
  <system.web>
    <machineKey validationKey="febtomid283ValidationKey" decryptionKey="febtomid283DecryptionKey" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>
